openapi: 3.0.3
info:
  title: Casa service
  version: "1.2.0"
  description: >
    Binding contract companion to docs/CASA-AUTH-SPEC.md.
    GET /v1/tokens/{mint} is the terminal surface (calendar, ledger, claimed
    north star). If this file and the spec disagree, the spec wins.
  contact:
    url: https://github.com/Capx-AI/casa
servers:
  - url: https://casa.capx.ai
    description: Production
  - url: http://127.0.0.1:8787
    description: Local
tags:
  - name: public
  - name: bind
  - name: attest
  - name: internal
paths:
  /v1/tokens/{mint}:
    get:
      tags: [public]
      summary: Public Casa progress for a launchpad mint
      description: Unauthenticated. Terminal backend is the intended reader. Cache 5 minutes. No raw claims object.
      parameters:
        - $ref: "#/components/parameters/Mint"
      responses:
        "200":
          description: Binding exists (live or released). progress may be null if never pushed.
          headers:
            Cache-Control:
              schema: { type: string, example: "public, max-age=300" }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TokenCasa" }
        "400":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
  /v1/internal/bind-grants:
    post:
      tags: [internal]
      summary: Launchpad issues a 10-minute bind code
      security:
        - launchpadM2M: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/BindGrantRequest" }
      responses:
        "201":
          description: Single-use bind code
          content:
            application/json:
              schema: { $ref: "#/components/schemas/BindGrant" }
        "401":
          $ref: "#/components/responses/Error"
        "409":
          $ref: "#/components/responses/Error"
        "422":
          $ref: "#/components/responses/Error"
        "502":
          $ref: "#/components/responses/Error"
  /v1/bind/redeem:
    post:
      tags: [bind]
      summary: CLI redeems a paste code with the company key
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/BindRedeemRequest" }
      responses:
        "201":
          description: Live binding
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Binding" }
        "401":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
        "409":
          $ref: "#/components/responses/Error"
        "410":
          $ref: "#/components/responses/Error"
        "422":
          $ref: "#/components/responses/Error"
  /v1/attest/nonce:
    post:
      tags: [attest]
      summary: Challenge for a live-bound company key
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [company_pubkey]
              properties:
                company_pubkey: { type: string }
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                required: [nonce, expires_at]
                properties:
                  nonce: { type: string, pattern: "^[0-9a-fA-F]+$" }
                  expires_at: { type: string, format: date-time }
        "409":
          $ref: "#/components/responses/Error"
  /v1/attest/push:
    post:
      tags: [attest]
      summary: Push a CAF bundle for a live-bound company
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AttestPushRequest" }
      responses:
        "201":
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AttestPushResponse" }
        "409":
          $ref: "#/components/responses/Error"
        "413":
          $ref: "#/components/responses/Error"
        "422":
          $ref: "#/components/responses/Error"
components:
  securitySchemes:
    launchpadM2M:
      type: http
      scheme: bearer
      description: CASA_LAUNCHPAD_KEY. Two keys may be active during rotation. Launchpad server only.
  parameters:
    Mint:
      name: mint
      in: path
      required: true
      schema:
        type: string
        minLength: 32
        maxLength: 44
        pattern: "^[1-9A-HJ-NP-Za-km-z]+capx$"
  schemas:
    Error:
      type: object
      required: [error, message]
      properties:
        error: { type: string }
        message: { type: string }
    BindGrantRequest:
      type: object
      required: [project_id, mint, creator_wallet]
      properties:
        project_id: { type: string, format: uuid }
        mint: { type: string, pattern: "^[1-9A-HJ-NP-Za-km-z]+capx$" }
        creator_wallet: { type: string, minLength: 32, maxLength: 44 }
    BindGrant:
      type: object
      required: [code, expires_at, mint]
      properties:
        code: { type: string, example: "CASA-7K2M-9QWX-4NPH" }
        expires_at: { type: string, format: date-time }
        mint: { type: string }
    BindRedeemRequest:
      type: object
      required: [code, company_pubkey, signature]
      properties:
        code: { type: string }
        company_pubkey: { type: string }
        signature: { type: string, pattern: "^ed25519:" }
        rebind: { type: boolean, default: false }
        slug: { type: string, pattern: "^[a-z0-9-]{1,32}$" }
        name: { type: string, minLength: 1, maxLength: 64 }
    BindingMeta:
      type: object
      required: [status, bound_at, rebind_count, continuity_break, previous_pubkeys]
      properties:
        status: { type: string, enum: [live, released] }
        bound_at: { type: string, format: date-time }
        released_at: { type: ["string", "null"], format: date-time }
        rebind_count: { type: integer, enum: [0, 1] }
        continuity_break: { type: boolean }
        previous_pubkeys:
          type: array
          items: { type: string }
    Binding:
      type: object
      required: [mint, company, creator_wallet, binding]
      properties:
        mint: { type: string }
        company:
          type: object
          required: [pubkey]
          properties:
            pubkey: { type: string }
            slug: { type: ["string", "null"] }
            name: { type: ["string", "null"] }
        creator_wallet: { type: string }
        binding: { $ref: "#/components/schemas/BindingMeta" }
    TokenProgress:
      type: object
      required:
        - level
        - playbooks_total
        - playbooks_done
        - playbooks_ready
        - playbooks_blocked
        - done_nodes
      properties:
        level: { type: integer, minimum: 0, maximum: 8 }
        level_name: { type: ["string", "null"] }
        constraint:
          type: ["object", "null"]
          properties:
            archetype: { type: ["string", "null"] }
            lead_departments:
              type: array
              items: { type: string }
        playbooks_total: { type: integer, minimum: 0 }
        playbooks_done: { type: integer, minimum: 0 }
        playbooks_ready: { type: integer, minimum: 0 }
        playbooks_blocked: { type: integer, minimum: 0 }
        done_nodes:
          type: array
          items:
            type: object
            required: [node_id]
            properties:
              node_id: { type: string }
              title: { type: string }
        driver_harness:
          type: ["object", "null"]
          properties:
            name: { type: string }
            version: { type: string }
        last_session_at:
          type: ["string", "null"]
          format: date-time
          description: Founder clock (window.to_ts). Claimed, not Casa-observed.
    AttestationSummary:
      type: object
      required: [attested, health_score, freshness]
      properties:
        attested: { type: boolean }
        caf_version: { type: ["string", "null"] }
        sequence: { type: ["integer", "null"] }
        observed_at: { type: ["string", "null"], format: date-time }
        health_score: { type: ["integer", "null"], minimum: 0, maximum: 100 }
        freshness:
          type: string
          enum: [unobserved, fresh, aging, stale]
        claims_digest: { type: ["string", "null"] }
        attestation_digest: { type: ["string", "null"] }
        brain_root: { type: ["string", "null"] }
        disclosed_root: { type: ["string", "null"] }
        chain_head: { type: ["string", "null"] }
    TokenCasa:
      type: object
      required: [mint, company, creator_wallet, binding, progress, attestation]
      properties:
        mint: { type: string }
        company:
          type: object
          required: [pubkey]
          properties:
            pubkey: { type: string }
            slug: { type: ["string", "null"] }
            name: { type: ["string", "null"] }
        creator_wallet: { type: string }
        binding: { $ref: "#/components/schemas/BindingMeta" }
        progress:
          oneOf:
            - { $ref: "#/components/schemas/TokenProgress" }
            - { type: "null" }
        attestation: { $ref: "#/components/schemas/AttestationSummary" }
    AttestPushRequest:
      type: object
      required: [company_pubkey, nonce, signature, files]
      properties:
        company_pubkey: { type: string }
        nonce: { type: string }
        signature: { type: string, pattern: "^ed25519:" }
        files:
          type: object
          additionalProperties: false
          required:
            - attestation.json
            - claims.json
            - ledger.delta.jsonl
            - merkle.json
            - chain.jsonl
          properties:
            attestation.json: { type: string }
            claims.json: { type: string }
            ledger.delta.jsonl: { type: string }
            merkle.json: { type: string }
            chain.jsonl: { type: string }
            receipts.window.jsonl: { type: string }
            profile.json: { type: string }
    AttestPushResponse:
      type: object
      required: [observation, attested, health_score, freshness]
      properties:
        observation: { type: object }
        attested: { type: boolean }
        health_score: { type: ["integer", "null"] }
        freshness: { type: string }
        tier0: { type: object }
        tier1: { type: object }
        tier2: { type: object }
  responses:
    Error:
      description: Error envelope
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
